/* Book.js styles begin here */
.book-container {
    width: calc((100% / 4) - 2em);
    margin: 1em;
    position: relative;
    
    /* display properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img-container {
    width: 170px;
    height: 250px;

    /* display properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: cover;
    height: 100%;
}

h2 {
    font-weight: normal;
    font-size: 1rem; 
    text-align: center;
}

.text-container {
    margin-top: 1em;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
