/* setup snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}a,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lilita+One&display=swap');
/* general styles begin */
html {
    font-size: 125%;
}

body {
    font-family: sans-serif;
    background: #e2e1e0;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', cursive;
}

/* responsive image */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* for content on large/small screens */
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* header styles begin */
.header {
  display: flex;
  padding: 2.5em 0;
  min-height: 200px;
  background: linear-gradient(to right bottom, rgba(48, 67, 82, 0.6), rgba(215, 210, 204, 0.9)), url(./assets/ehud-neuhaus-hero.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header-title {
  text-align: center;
  font-size: clamp(2rem, 2.2rem + 2vw, 3.6rem);
  margin: 0 0 0.5em 0;
}

/* form section begins */

.input-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-button {
  padding: 0.3em 1em;
  border-radius: 5px;
  background-color: black;
  border: 1px solid black;
  color: white;
}

.header-select {
  padding: 0.3em 1em 0.3em 0.5em;
  font-size: 1rem;
  border: 1px solid #CCC;
  width: 200px;
  margin: 0 auto;


  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./assets/drop-down.png) 96% / 15% no-repeat #EEE;
  background-size: 7%;
}

.form-label {
  text-align: center;
  font-size: clamp(0.6rem, 0.6rem + 2vw, 1rem);
  margin-bottom: 0.4em;
  text-shadow: 10px 10px 11px #fff;
}

/* .book-store section begins */
.book-store {
  background: transparent;
  border: none;
  font-size: 1.8rem;

  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 30;
}


/* main styles begin */
main {
  padding: 2.5em 0 3em 0;
  position: relative;
}
/* .book-container section begins */
.book-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1em 0em;
}



.book-list {
  /* flex properties */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-list-item {
    margin: 1em;
    position: relative;
    flex-basis: min-content;
    
    /* display properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        /* fading animation */
    animation-name: FadeIn;
    /*  change to 5s for temporary fix */
    animation-duration: 2s;
    transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


.fav-button {
  border: none;
  background: transparent;
  color: red;
  font-size: 2rem;
  padding: 0.3em 0.5em;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  z-index: 10;
}

.fav-button > * {
  pointer-events: none;
}

.heartIcon {
  position: relative;
  z-index: 5;
}

/* article button styling */
.article-modal {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

.cartMenu {
  position: fixed;
  background: whitesmoke;
  max-width: 300px;
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  height: 100%;

  overflow-y: scroll;
}

/* modal styling begins */
.card {
  border-radius: 10px;
  background: rgb(245, 245, 245);
  max-width: 700px;
  min-height: 500px;
  

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;

  display: flex;
  flex-direction: column;
}

.modal-close-button {
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  border: none;

  background: transparent;
  /* background-color: red; */
}

.modal-icon {
  font-size: 1.3rem;

  cursor: pointer;
}

.modal-left-section {
  padding: 1em;
  min-width: 45%;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-img-container {
  flex-grow: 1;
}

.modal-img {
  margin: 0 auto;
}

.modal-right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 1.5em 1.5em 1em;
  
}

.modal-title {
  font-size: 2rem;
}

.modal-link-button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  text-align: center;
  align-self: center;
  padding: 0.5em 1em;
  background-color: rgb(245, 245, 245);

  transition: all 0.1s ease-in;
}

.modal-link-button:hover,
.modal-link-button:focus {
  background-color: black;
  color: whitesmoke;
}

.modal-author-rating {
  text-align: center;
  margin-bottom: 0.2em;
  font-size: 0.8rem;
}
 .modal-author-rating li {
   margin-bottom: 1em;
 }

 /* FilterBooks Component styling */

 .filter-button {
   background: transparent;
   border: none;
   text-decoration: underline;
   cursor: pointer;
 }

 .filter-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
 }

  .next-section {
   font-size: 0.9rem;
   position: absolute;
   z-index: 30;

   top: 30px;
   left: 0;
 }

 .next-button {
     background: transparent;
     border: none;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 0.4em;
     padding: 0;
 }

 /* Welcome to Media Query Land !*/
 /* Watch out for the levitating water dragon snake */
 @media (min-width: 650px) {
    .form {
      flex-direction: row;
    }

    .input-container {
      width: calc((100% / 2) - 1em);
    }
 }


 @media (min-width: 890px) {
    .card {
      flex-direction: row;
    }

    .book-collection {
      padding: 1em 4em;
    }
 }
